[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snakes = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
pylint = "*"
jedi = "*"
autopep8 = "*"
yapf = "*"
black = "*"
flake8 = "*"
pint = "*"
pandas = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.11"
